*{
	outline: none;	
}
body {
	min-width: 1000px;
	margin: 0px;
	font-family: 'Segoe UI', sans-serif;
	background-image: url("../img/game/resourcebar.png"),
		url("../img/game/righttopbar.png"),
		url("../img/game/leftsidebar.png"),
		url("../img/game/rightsidebar.png"),
		url("../img/game/gamebackground.png");
	background-repeat: no-repeat, no-repeat, repeat-y, repeat-y, repeat;
	background-position: left top, right top, left top, right top, left top;
}


.chooser input[type="number"]{
	
	color: rgb(253, 137, 49);
	background: rgb(255, 255, 255);
	font-size: 17px;
	border: 1px solid rgb(165, 126, 79);
	margin: 2px;
	font-weight: bold;
	width: 80px;
	padding: 5px;
}

.chooser, .building_info  {
	background: rgb(255, 246, 221);
	border: 1px solid rgb(255, 217, 110);
	padding: 6px;	
}

.chooser .element{
	border-top: 1px solid rgb(255, 217, 110);
	margint-top:2px;	
}

/* About the game */

#game-content {
	margin: 0px;
	border: 0px;
	width: 100%;
}

#central-side {
	text-align: center;
}

#game-content td {
	vertical-align: top;
}

#left-side {
	width: 305px;
}

#right-side {
	width: 305px;
}


.ui-slider-handle.ui-state-active {
    z-index: 5;
    position: absolute;
}


/* About boards and windows */

.before_window {
	color: white;
	padding: 33px 0px 0px 31px;
	font-size: 27px;
	background: url('../img/game/top_window_bg.png') no-repeat left top;
	font-weight: bold;
	height: 67px;
	width: 270px;
	margin-left: 3px;
	display: block;
	margin-top: -10px;
	content: "";
}

.after_window {
	background: url('../img/game/bottom_window_bg.png') no-repeat left top;
	height: 60px;
	width: 320px;
	display: block;
	content: " ";
}

.board {
	background: url('../img/game/back_background.png') repeat left top;
	min-height: 150px;
	width: 217px;
	padding-left: 44px;
	padding-right: 32px;
	color: #542c0f;
	max-height: 300px;
	overflow: auto;
	font-size: 14px;
}

.board .board_list, .board .heading {
	background: rgb(246, 235, 186);
	border: 1px solid	rgb(246, 235, 186);
	padding: 5px;
}

.heading {
	border-top: 1px solid rgb(255, 189, 2);
}

.board .board_list:hover {
	background: rgb(255, 246, 205);
	border: 1px solid rgb(249, 232, 159);
}

.clear {
	font-size: 14px;
	color: gray;
}

#actions_board {
	height: 96%;
	max-height: 96%;
}

#map-options {
	background-color: #FFF9DD;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 40px;
	border: 3px solid rgb(199, 135, 51);
	border-bottom: none;
	padding-top: 2px;
}

#map-window {
	min-width: 705px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: #F6EBBA;
	border: 3px solid rgb(199, 135, 51);
	position: relative;
}


/* general design */

.tab {
	padding-left: 10px;	
}

.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.hover, .hasAction, .ui-slider, .ui-slider-handle {
	cursor: pointer;
}


/* resources  and information about city */

.resource_format_wood{
	color: rgb(174, 81, 50);	
}

.resource_format_stone{
	color: rgb(89, 86, 84);	
}

.resource_format_food {
	color: rgb(221, 90, 54);	
}

.resource_format_gold {
	color: rgb(219, 176, 52);
}

.resource_format_people {
	color: #4183C2;
}

.resource_format_military {
	color: rgb(38, 65, 5);
}


#top_board {
	height: 95px;
	margin: 0px;
	width: 100%;
}

#resources, #city_details {
	position: relative;
}

#resources div {
	position: absolute;
	width: 82px;
	border-radius: 2px;
	top: 51px;
	text-align: right;
	height: 28px;
	color: white;
	padding-top: 5px;
	padding-right: 4px;
	overflow: hidden;
}

#resources #gold {
	left: 150px;
}

#resources #food {
	left: 290px;
}

#resources #wood {
	left: 430px;
}

#resources #stone {
	left: 570px;
}

#resources #people {
	left: 701px;
}

#city_details div {
	border-radius: 2px;
	text-align: right;
	height: 20px;
	color: white;
	padding-top: 5px;
	padding-right: 4px;
	overflow: hidden;
	right: 20px;
	position: absolute;
	font-weight: bold;
}

#city_details #name {
	right: 240px;
	top: 50px;
}

#city_details #level {
	right: 140px;
	top: 50px;
}

#city_details #type {
	right: 60px;
	top: 50px;
}

/* Maps */

.map {
	display: none;
	border: 0px;
	cellspacing: 0px;	
}

.map td.selected,.map td.selected:hover {
	border: 1px solid white;
	-webkit-filter: opacity(0.7);
	margin-top: -1px;
}

.map td.selected {
	transition-duration: 0.5s;
	border: 1px solid white;
	margin-top: -1px;
}

.map .allow_construction:hover {
	cursor: url("../img/cursor/build_cursor_1.png"), auto;
	-webkit-filter: opacity(0.9);
	border: 1px solid rgb(181, 181, 181);
	padding: -1px;
}

.map .allow_construction:active {
	cursor: url("../img/cursor/build_cursor_2.png"), auto;
}

.map img.small {
	width: 60px;
	height: 60px;
}

.map tr td {
	text-align: center;
	vertical-align: middle;
	position: relative;
	border:1px solid transparent;
}

.map img {
	z-index:3;
	height: 98px;
	width: 98px;
	transition-duration: 0.5s;
	position: relative;
	top:0px;
	transition-timing-function: linear;
}

.map td .hasAction:hover {
	z-index: 2 !important;
	cursor: url("../img/cursor/hand_cursor.png"), auto;
	-webkit-filter: sepia(1) drop-shadow(-12px 0px 17px rgba(255,255,5,0.7));
	filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='12' dy='12' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	
	margin-top: -7px;
}

.map td img.selected, .map td img.selected:hover {
	-webkit-filter: sepia(1) grayscale(1) opacity(0.7);
	margin-top: -7px;
}

.map .level, .building_info .level, .level_upgrading {
	position: absolute;
	top: 3px;
	left: 60px;
	margin: 0px;
	width: 17px;
	height: 17px;
	font-size: 13px;
	color: rgb(161, 104, 0);
	border: 1px solid rgb(255, 210, 34);
	z-index: 1;
	background: rgb(255, 210, 34);
	padding: 2px;
	box-shadow: 0px 0px 3px 1px rgb(53, 53, 53);
	padding: 1px;
	border-radius: 20px;
	z-index:3;
	transition-duration: 0.5s;
}

.map .description {
	position: absolute;
	top: 79px;
	left: 16px;
	margin: 0px;
	min-height: 18px;
	font-size: 13px;
	color: rgb(103, 11, 8);
	border: 1px solid rgb(159, 121, 72);
	z-index: 1;
	background: rgb(246, 235, 186);
	padding: 2px;
	box-shadow: 0px 0px px 1px rgb(53, 53, 53);
	border-radius: 4px;
	z-index:3;
}

/* Progress Bar */

.ui-progressbar {
	position: relative;
  }

/*.progressbar {
    width: 80%;
    text-align: center;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}*/

.progress-label {
    left: 50%;
	top: 4px;
    width: 100%;
    height: 100%;
    position: absolute;
    vertical-align: middle;
    color: black;
    font-weight: bold;
}



/* Building info */

.building_info {
	min-height: 90px;	
	position: relative;
}

.building_info .level {
	position: absolute;
	width: 12px;
	height: 16px;
	padding-left: 5px;
	left: 52px;
}

.level_upgrading {
	border: 1px solid rgb(103, 34, 255);
	z-index: 3;
	background: rgb(34, 209, 255);	
}

.building_info .title {
	float:left;
	margin-left: 10px;
	width: 81px; 
}

.building_info .capacity {
	float: left;
	width: 92px;
	color: rgb(75, 90, 93);
}

.building_info .title, .building_info .capacity {
	display:inline-block;
	min-height: 90px;
}

.news_done, .news_problem {
	font-weight: bold;	
}

.news_done {
	color: green;
}

.news_problem {
	color: red;
}

#news_board > div{
	padding-bottom: 3px;
	margin-bottom: 1px;
	padding-left:2px;	
}

#news_board > div:nth-child(even) {
	border-left: 6px solid rgb(192, 155, 105);
}

#news_board > div:nth-child(odd) {
	border-left: 6px solid gray;
}