body{
	background-image:
		url("../img/resourcebar.png"),
		url("../img/tobbanner.png"),
		url("../img/leftsidebar.png"),
		url("../img/rightsidebar.png"),
		url("../img/gamebackground.png");
	background-repeat: no-repeat, repeat-x, repeat-y, repeat-y, repeat;
	background-position: left top, left top, left top, right top, left top; 
}

#actions{
	position: relative;
	top: 130px;
}

#messages{
	position: absolute;
	top: 125px;
	right: 200px;
}

#news{
	position: absolute;
	top: 260px;
	right: 200px;
}

#tasks{
	position: absolute;
	top: 460px;
	right: 200px;
}

.heading{
	
}