#map_div {
	color:white;
	width: 710px;
	height: 772px;
	padding: 5px;
	text-align:center;
}
.map {
	border: 1px solid #000;
	margin: auto;
}
.map td {
	border: 1px solid transparent;
	height: 100px;
	width: 100px;
}