#map_div {
	color:white;
	width: 700px;
	height: 772px;
	padding: 5px;
	text-align:center;
}
.map {
	display: block;    
     border-collapse: collapse;
	background: rgb(181, 181, 181);
}

.map .row{  
     display:table-row;
     text-align: center;
}
.map .row > div{
	float:left;
	width: 100px;
	height: 100px;
	position: relative;
}