body{
	background-image:url("../img/background.jpg");
	top: -46px;
	bottom: -46px;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-color:rgb(14, 18, 28);
	max-width: 100%;
    overflow-x: hidden;
	width:100%;
	height:100%;
}
input ,select{
	font-family: 'Segoe UI', sans-serif;
	font-size:20px;
	margin: 10px 10px;
	box-shadow: -1px -1px 28px rgb(169, 169, 169);
	white-space: nowrap;
	color: black;
	vertical-align: baseline;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	height:50px;
	padding: .5em 1em;
	border: 1px solid #999;
	border: 0 rgba(0,0,0,0);
	border-radius: 2px;
	outline:none;
}
input[type="button"]{
	text-align: center;
	white-space: nowrap;
	background-color: #E79500;
	color: #fff;
	vertical-align: baseline;
	cursor: pointer;
	height: 50px;
	padding: .5em 1em;
	border: 1px solid #999;
	border: 0 rgba(0,0,0,0);
	border-radius: 6px;
}
input:focus,select:focus{
	box-shadow: 0px 0px 14pt 2pt orange;
}
input[type="button"]:hover{
	-webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
	background-color:rgb(255, 199, 77);
}
input[type="button"]:active{
	background-color:rgb(255, 237, 199);
	color:black;
}
input[type="button"]:disabled{
	background-color: #dfdfdf;
}
h1 {
	font-size:48px
}
html{
	font-family: 'Segoe UI', sans-serif;
	color:white;
	width:100%;
	height:100%;
}
#top{
	margin-top: 50px;
	margin-left: 200px;
	margin-left:100px;
}
#bottom {
	margin: 10px auto;
	text-align:center;
}
.small{
	font-size:16px;
	width:auto;
	background-color:#E79500;
}

.big{
	width:30%;
}

#join_game,#create_game,#game{
	display:none;
	width:100%;
	margin-bottom:200px;
}
#available_users{
	display:none;
}
#private_game{
	text-align: right;
}
#start_game, #available_users,.table{
	text-align:center;
}
.table{
	background-color:white;
	min-width: 500px;
	margin: 0px auto;
	border: 1px solid #999;
	width:50%;
	color:black;
	font-size:18px;
}
.table tr td{
	color: orange;
}
.table tr:first-child td{
	color:black;
	font-weight:bold;
}
.header{
	font-weight: bold;
}
#map_div {
	color:white;
	width: 710px;
	height: 772px;
	padding: 5px;
	text-align:center;
}
.map {
	border: 1px solid #000;
	margin: auto;
}
.map td {
	padding: 0px;
	margin: 0px;
	border: none;
	border-collapse: collapse;
	line-height: 0px;
	height: 100px;
	width: 100px;
}
