/** Styles **/

body{
	background-image:url("img/background.jpg");
}

h1{
	font-family: "Open Sans", sans-serif;
	font-size: 3.5em;
	padding-top: 160px;
}

#top{
	margin-top: 100px;
	margin-left: 200px;
}